*{
    padding:0;
    margin:0;
    font-family:'Ubuntu'; 
    font-size:100%;   
}

header{  
    background:#2E948A;
    max-width:100%;
    display: flex;   
}

header a.link01{ 
    margin-left:12%;     
    padding:.8%;  
    max-width:25ch;
    max-height:20ch;
    width:100%;
    height:100%;
}

header nav{
    text-decoration: none; 
    color:#FFFFFF;  
    margin-left: 34%;
    padding:3%;  
}

header a.link02{
    color:#FFFFFF;
    text-decoration: none;
    padding:2ch;   
    font-weight: bold;
    font-size:1vw;
    line-height:1ch;  
}

main{
    max-width:100%;
    margin-left:20%;
}

h1{
    font-weight: 900;
    font-size: 3vw;
    line-height: 1ch;   
    margin-top:8%;
    margin-bottom:5%;
    color: #ff4081;
    width:60%;
}

section{
    display: flex;
}

.cont01 form input{ 
    display:flexbox;
    font-size: 2cw;
    font-weight: 400;
    color: #58555D;
    border: .2ch solid #686868;
    border-radius: 1ch;
    width: 30ch;
    padding: 1ch 3ch 1ch 3ch;
    margin: 0ch 0ch 2ch 0ch;
}

.cont01 form textarea{ /*msg area*/
    display:flexbox;
    font-size: 2cw;
    font-weight: 400;
    color: #58555D;
    border: .2ch solid #686868;
    border-radius: 1ch;
    width: 30ch;
    padding: 1ch 3ch 10ch 3ch;
    margin: 0ch 0ch 8ch 0ch;
}

.cont01 img{
    max-width:35ch;
    max-height:35ch;
    width:50%;   
    margin-left:15%;
}

main a{
    text-decoration: none;
    border:#ff4081 solid;
    padding:.5ch 3ch .5ch 3ch;
    border-radius: 2ch;
    color: #FFFFFF;
    background-color: #ff4081;
    width:50%;
    margin-top:1%;   
}

footer{
    margin-top:5%;
    background-color: #419488;
    display:flex;    
}

footer img{   
    margin-left:12%;     
    padding:1ch;  
    max-width:25ch;
    max-height:20ch;
    width:100%;
    height:100%;
}

footer nav{
    margin-left:17%;
    padding:2ch;   
}

footer a{
    display:flex;
    flex-direction: wrap;
    color:#FFFFFF;
    text-decoration: none;
    padding:1ch;   
    font-weight: bold;
    font-size:1vw;
    line-height:1ch;     
}

a.fa01{
    border: #FFFFFF solid;
    border-radius:2ch;
    padding-right:3.5ch;
    padding-left:5ch;
    margin-top:1.5ch;
    border-width: .3ch;
    padding-bottom:1ch;
    text-align: center;
}

footer ul{
    text-decoration: none;
    list-style: none;
    margin-left:50%;   
}

@media (max-width:1000px){
    section{
        flex-direction:column;
        width:80%;
    }
}